body {
    background-color: blue;
}

.ul {
    float: left;
    list-style: none;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    cursor: pointer;
    z-index: 10;
}


a {
    text-decoration: none;
}

